<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="canonical" href="https://speaksale.kr{{ page.url | replace:'index.html','' }}">
  {% include head.html %}
  {% if page.brand_color %}
  <style>
    :root {
      --speak-blue: {{ page.brand_color }};
    }
  </style>
  {% endif %}
<script type="text/javascript" src="//wcs.pstatic.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "16d59bb623a2ee0";
if(window.wcs) {
wcs_do();
}
</script>
</head>
<body>
 <a class="skip-link" href="#content">컨텐츠로 건너뛰기</a>
    
  <div class="sticky-header">
    <a href="#cta-top" class="sticky-cta-button">
      👉 스픽 최대 할인 받기
    </a>
  </div>

  <main id="content" class="container">
    {{ content }}
  </main>

  {% include footer.html %}
  {%- unless page.url contains "sitemap.xml" -%}
<script>
  if (location.pathname.includes('index.html') || location.pathname.endsWith('/index')) {
    window.history.replaceState(null, '', '/');
  }
</script>
{%- endunless -%}
</body>
</html>
